/* src/components/Perfil/MyFavorites.css */

.favorites-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;                                       /* Define a margem superior */
  }
  
  .favorites-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .favorites-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .favorites-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .favorites-container button:hover {
    background-color: #45a049;
  }
  
  .favorites-list {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .favorite-card {
    flex: 0 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
  }
  
  .favorite-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .favorite-card p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .favorite-card button {
    padding: 8px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
  }
  
  .favorite-card button:hover {
    background-color: #e60000;
  }
  